<template >
<div>
  <div class="div_size">
    <br />
    <br />
    <form>
      <v-row>
        <v-col cols="12" sm="4">

          <p  class="text-sm-left lbl">:SUBJECT </p>
          <input type="text" placeholder="Enter Your SUBJECT  " />
       
       </v-col>

        <v-col cols="12" sm="4">

          <p  class="text-sm-left lbl">:EMAIL </p>
          <input type="text" placeholder="Enter Your EMAIL  " />
    
        </v-col>

        <v-col cols="12" sm="4">

          <p  class="text-sm-left lbl">:NAME</p>
          <input type="text" placeholder="Enter Your NAME  " />
      
        </v-col>
      </v-row>
      <p  class="text-sm-left lbl">:MESSAGE</p>
      <textarea  placeholder="Enter Your MESSAGE  " ></textarea>
    
    <button class="btn">:SEND MESSAGE</button>
    </form>
    <br />
    <br />
  </div></div>
</template>
<script>
export default {

 data: () => ({
    
  }),
 
};
</script>
<style scoped>

input[type="text"] {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid indigo;
  border-radius: 4px;
  text-align: left;
}

.lbl{
  margin-bottom: 0px;
  color: indigo;
}

textarea{
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid indigo;
  border-radius: 4px;
  text-align: left;
}
.btn {
  border: none;
  color: white;
  padding: 4px 7px;
  text-align: center;
  background-color: indigo;
  float: left;
}
.div_size {
  padding-left: 200px;
  padding-right: 200px;
}
</style>