<template>
  <v-footer class="deep-purple lighten-2">
    <v-container fluid>
      <v-layout>
        <v-flex md3>
          <div  >
            <br />
            <br />
            <p class="text_1">
              تهران میرداماد میدان مادر خیابان شهید سنجابی ( بهروز سابق ) کوچه
              شریفی پلاک 6افق ارتباطات فردید | تلفن 021 22225896
            </p>
            <p class="text_2">
              N 6 Sharifi Alley Sanjabi Ave Madar Sq Mirdamad Blvd
            </p>

            <v-row no-gutters>
              <v-col cols="12" sm="4"  md="4">
                <p class="text_1">96 58 22 22 98+</p>
                
              </v-col>
              <v-col cols="12" sm="5" md="4" >
                <p class="text_3">|</p>
              </v-col>
              <v-col cols="12" sm="2" md="4">
                <p class="text_2" style=" text-align: left;">tehran.Iran</p>
              </v-col>
            </v-row>
            <pre style="font-size: 12px; color: white">
|  Fardid Media @ 2019.All Rights Reservad  |</pre
            >
          </div>
        </v-flex>
        <v-flex md7 class="white--text pt-0 text-xs-center" />
        <v-flex md2>
          <v-card flat tile class="deep-purple lighten-2 text-end">
            <br />
            <br />
            <v-card-text>
              <v-avatar size="56" style="margin-right: 114px">
                <v-img alt="user" src="_nuxt/assets/1.png" />
              </v-avatar>
              <p style="color: white; margin-bottom: 0px; font-size: 15px">
                fardidmedia@gmail.com
              </p>

              <v-btn
                v-for="icon in icons"
                :key="icon"
                style="margin-right: 5px"
                class="white--text"
                icon
              >
                <v-icon size="24px">
                  {{ icon }}
                </v-icon>
              </v-btn>
              <v-spacer />
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-footer>
</template>

<script>
export default {
  data() {
    return {
      // footer
      icons: ["mdi-facebook", "mdi-twitter", "mdi-linkedin", "mdi-instagram"],
    };
  },
};
</script>


<style scoped>
.text_1 {
  font-size: 78%;
  color: white;
}
.text_2 {
  font-size: 80%;
  color: white;
 
  margin-bottom: 0px;
}
.text_3 {
  font-size: 11.9px;
  color: white;
  text-align: center;
}

</style>