<template      >
  <div>
    <v-navigation-drawer
      persistent
      v-model="drawer"
      light
      app
      temporary
      right
      height="700"
      width="480"
      color="#00000000"
    >
      <div class="square">
        <v-list-item-group class="white--text">
          <v-list-item nuxt to="/" :ripple="false" class="m-l330">
            <v-avatar size="56" style="margin-left: -0px" class="p-l0">
              <v-img alt="user" src="_nuxt/assets/1.png" />
            </v-avatar>
          </v-list-item>

          <v-list-item nuxt to="/" :ripple="false" class="m-l330">
            <v-list-item-title class="p-l0">Home</v-list-item-title>
          </v-list-item>

          <v-list-item nuxt to="/SERVICES" :ripple="false" class="m-l330">
            <v-list-item-title class="p-l0">SERVICES</v-list-item-title>
          </v-list-item>

          <v-list-item nuxt to="/infiuencer" :ripple="false" class="m-l330">
            <v-list-item-title class="p-l0"
              >infiuencer marketing</v-list-item-title
            >
          </v-list-item>

          <v-list-item nuxt to="/advertising" :ripple="false" class="m-l330">
            <v-list-item-title class="p-l0">advertising</v-list-item-title>
          </v-list-item>

          <v-list-item nuxt to="/idea" :ripple="false" class="m-l330">
            <v-list-item-title class="p-l0">idea</v-list-item-title>
          </v-list-item>

          <v-list-item nuxt to="/consumer" :ripple="false" class="m-l330">
            <v-list-item-title class="p-l0">consumer insight</v-list-item-title>
          </v-list-item>

          <v-row no-gutters>
            <v-col cols="12" sm="4">
              <v-list-item nuxt to="/ABOUT" :ripple="false">
                <v-list-item-title>ABOUT</v-list-item-title>
              </v-list-item>
            </v-col>

            <v-col cols="12" sm="4"> </v-col>

            <v-col cols="12" sm="4">
              <v-list-item @click.stop="drawer = !drawer" :ripple="false">
                <div class="box1"></div>
              </v-list-item>
            </v-col>
          </v-row>

          <v-row no-gutters>
            <v-col cols="12" sm="4">
              <v-list-item nuxt to="/CONTACT" :ripple="false">
                <v-list-item-title>CONTACT US</v-list-item-title>
              </v-list-item>
            </v-col>

            <v-col cols="12" sm="8">
              <v-list-item @click.stop="drawer = !drawer" :ripple="false">
                <div class="box1"></div>
              </v-list-item>
            </v-col>
          </v-row>

          <v-list-item @click.stop="drawer = !drawer" :ripple="false" dark>
            <v-icon> mdi-chevron-right-circle-outline</v-icon>
          </v-list-item>

          <v-list-item @click.stop="drawer = !drawer" :ripple="false">
            <div class="box"></div>
          </v-list-item>
        </v-list-item-group>
      </div>
    </v-navigation-drawer>

    <v-app-bar class="color fixed-bar" app dark>
      <v-app-bar-nav-icon
        absolute
        @click.stop="drawer = !drawer"
      ></v-app-bar-nav-icon>

      <div class="vl mr-38"></div>

      <input class="search" type="text" placeholder="Search" />

      <v-icon>mdi-magnify</v-icon>

      <div class="vl m-r13"></div>
      <v-spacer />
      <nuxt-link to="/">
        <img src="@/assets/1.png" style="width: 50; height: 70px" />
      </nuxt-link>
   
    </v-app-bar>
  </div>
</template>
 
<script>
export default {
  data: () => ({
    drawer: false,
  }),
};
</script>

<style scoped>
.theme--light.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border {
   box-shadow: 5px 3px 1px 1px rgb(255, 255, 255), 1px 1px 1px 1px rgb(255, 255, 255), 1px 1px 1px 1px rgb(255, 255, 255);
}
.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined) {
    box-shadow: 5px 3px 1px 1px rgb(255, 255, 255), 1px 1px 1px 1px rgb(255, 255, 255), 1px 1px 1px 1px rgb(255, 255, 255);
}
.theme--light.v-list-item--active:hover::before,
.theme--light.v-list-item--active::before {
  opacity: 0;
}
.v-navigation-drawer--temporary:not(.v-navigation-drawer--close) {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0),
    0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.v-list-item--link::before {
  background-color: rgba(0, 0, 0, 0);
}

.fixed-bar {
  position: fixed;
}

.color {
  background-image: linear-gradient(
    90deg,
    rgba(83, 53, 133, 1) 0%,
    rgba(58, 121, 169, 1) 48%,
    rgba(32, 189, 210, 1) 100%
  );
}
.p-t25 {
  padding-top: 25px;
}
.m-r13 {
  margin-right: 13px;
}
.m-l330 {
  margin-left: 320px;
}
.p-l0 {
  padding-left: 0px;
}
.mr-38 {
  margin-right: 38px;
}
.vl {
  border-left: 2px solid white;
  height: 65px;
}

.search {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  text-align: left;
  color: #ffffff;
}
::placeholder {
  color: white;
  opacity: 1;
}

.box1 {
  box-sizing: content-box;
  width: 500px;
  height: 48px;
}

.box {
  box-sizing: content-box;
  width: 300px;
  height: 100px;
  padding: 30px;
}

 
.square {
  height: 700px;
  width: 500px;
  mask: radial-gradient(circle at 100% 50%, red 64%, transparent 1%) top left,
    radial-gradient(circle at top right, transparent -100%, #41c3d4 4.1vw) top
      right,
    radial-gradient(circle at bottom left, transparent 62%, #41c3d4 4.1vw)
      bottom right;
  mask-size: 50% 58%;
  mask-repeat: no-repeat;
  background-image: linear-gradient(
    90deg,
    rgba(83, 53, 133, 1) 0%,
    rgba(58, 121, 169, 1) 48%,
    rgba(32, 189, 210, 1) 100%
  );
}
</style>
