// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$material-light: ( cards: blue );
$navigation-drawer-border-width: 0px ;