<template>
  <v-app>
    <Navbar  />
    <v-main>
 
       <nuxt />
 
    </v-main>
     <Footer />
  </v-app>
</template>

<script>
import Navbar from '@/components/Navbar'
import Footer from '@/components/Footer'
export default {
  components: { Navbar, Footer }
}
</script>

<style scoped>
#inspire img {
  height: 100%
}
</style>