<template>
  <div>
    <!--////////////////////////////////////////////////-->
    <v-carousel
      cycle
      :height="height"
      hide-delimiter-background
      show-arrows-on-hover
      vertical-delimiters
    >
      <div class="controls">
        <img align="left"
          src="@/assets/5.png"
          @click="scroll"
          style="width: 50; height: 70px ;margin-left: -75%;"
        />
      </div>

      <v-carousel-item
        v-for=" (value,i)  in items"
        v-bind:key="i"
        v-bind:src="items[i].src"
      >
      </v-carousel-item>
    </v-carousel>

    <!--////////////////////////////////////////////////-->
    <h1 id="contact-me"></h1>
    <div class="m-t100">
      <v-row justify="center">
        <v-col v-for="(value,i) in cards" v-bind:key="i" cols="12" md="2">
          <v-hover v-slot:default="{ hover }">
            <v-card
              class="mx-auto rounded-b-circle myDIV"
              height="280"
              max-width="200"
              v-bind:img="`${cards[i].back_img}`"
            >
              <v-expand-transition>
                <div v-if="hover" class="myDIV d-flex" style="height: 100%">
                  <div class="div_card rounded-b-circle">
                    <br />
                    <v-img
                      class="center"
                      max-height="40"
                      max-width="40"
                      v-bind:src="`${cards[i].img}`"
                    />
                    <div class="m-t50">
                      <div class="sub_card">
                        {{ cards[i].sub }}
                      </div>
                    </div>
                  </div>
                </div>
              </v-expand-transition>

              <div class="myhide">
                <div class="color">
                  <p class="title_card">
                    {{ cards[i].title }}
                  </p>
                </div>

                <div class="m-t50">
                  <v-img
                    class="center"
                    max-height="80"
                    max-width="80"
                    v-bind:src="`${cards[i].img}`"
                  />
                </div>
              </div>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
    </div>

    <!--////////////////////////////////////////////////-->
    <div class="m-t100 p-b50">
      <h1 class="color_text">SOME OF OUR CLIENTS</h1>
      <br />
      <v-row justify="center" align="center">
        <v-col
          v-for="(value,i) in clients"
          v-bind:key="i"
          cols="12"
          md="1"
        >
          <v-img max-height="50" max-width="50" :src="`${clients[i].img}`" />
        </v-col>
      </v-row>
      <br />
      <v-row align="center" justify="center" class="m-t15">
        <v-btn class="pa-8 rounded-r-xl text-center" color="purple" outlined>
          <v-icon right dark> mdi-arrow-right </v-icon>
          <div class="color_text">VIEW ALL WORK</div>
        </v-btn>
      </v-row>
    </div>
    <!--////////////////////////////////////////////////-->

    <v-card
      class="mx-auto"
      height="400"
      width="100%"
      img="https://alefban.com/wp-content/uploads/2018/04/Freelancer-02-Alefban.jpg"
    >
      <v-row align="end" justify="end">
        <div class="m-l30 m-t100">
          <v-list-item-title class="headline mb-6">
            make a video clipped
            <v-avatar size="56">
              <v-img alt="user" src="_nuxt/assets/1.png" />
            </v-avatar>
          </v-list-item-title>
          <v-list-item-subtitle class="headline mb-1 m-t30- m-r69">
            for crest brand
          </v-list-item-subtitle>
        </div>
      </v-row>
      <!---->
      <div class="p-r146">
      <v-btn icon class="rad_btn2">
        <div class="rad_btn">
          <v-icon style="top: 23px" x-large color="white"> mdi-play </v-icon>
        </div>
      </v-btn>
        </div>
    </v-card>
    <!--////////////////////////////////////////////////-->

    <v-card style="padding-top: 4px" flat class="text-center" color="#f6f6f6">
      <br />
      <br />
      <h1 class="color_text">Subscribe Our Newsletter</h1>
      <v-card-text class="pt-0 text--lighten-4">
        Get the bast news and stories delivered to your inbox
      </v-card-text>

      <v-form>
        <v-row justify="center" align="center">
          <v-col cols="12" md="2" xl="1" class="p-t0">
            <button class="rounded-r-xl white--text text--lighten-5 color_btn">
              Subscribe
            </button>
          </v-col>

          <v-col cols="12" md="3" xl="2">
            <v-card elevation="2" class="rounded-l-xl">
              <input
                type="text"
                required
                class="color_input"
                placeholder="Enter Your E-mail"
              />
            </v-card>
          </v-col>
        </v-row>
      </v-form>
      <br />
      <br />
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      // carousel
      items: [
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg",
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/sky.jpg",
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/bird.jpg",
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/planet.jpg",
        },
      ],
      // card
      cards: [
        {
          title: "CREST WATCH",
          sub:
            "test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test testtest test test test test test test test test test test test test test test test test test ",
          back_img: "https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg",
          img: require("../assets/4.png"),
        },
        {
          title: "RAZAK DELICIUS",
          sub:
            "test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test testtest test test test test test test test test test test test test test test test test test ",
          back_img: "https://cdn.vuetifyjs.com/images/carousel/sky.jpg",
          img: require("../assets/3.png"),
        },
        {
          title: "MC STARS",
          sub:
            "test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test testtest test test test test test test test test test test test test test test test test test ",
          back_img: "https://cdn.vuetifyjs.com/images/carousel/bird.jpg",
          img: require("../assets/2.png"),
        },
        {
          title: "LAXMI",
          sub:
            "test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test testtest test test test test test test test test test test test test test test test test test ",
          back_img: "https://picsum.photos/1920/1080?random",
          img: require("../assets/6.png"),
        },
      ],
      // clients
      clients: [
        {
          img: require("../assets/7.png"),
        },
        {
          img: require("../assets/8.png"),
        },
        {
          img: require("../assets/9.png"),
        },
        {
          img: require("../assets/10.png"),
        },
        {
          img: require("../assets/7.png"),
        },
      ],
    };
  },
  methods: {
    scroll() {
      const element = document.getElementById("contact-me");
      element.scrollIntoView({ behavior: "smooth" });
    },
  },
  computed: {
    height() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return 550;
        case "sm":
          return 600;
        case "md":
          return 600;
        case "lg":
          return 600;
        case "xl":
          return 800;
      }
    },
  },
};
</script>

<style  scoped>
/*------------------------------------------index*/
.controls {
  bottom: 0;
  display: flex;
  height: 112px;
  
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.title_card {
  text-align: center;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 19px;
}

.sub_card {
  font-size: 9px;
  text-align: center;
  color: white;
  margin-top: 0px;
  padding-right: 38px;
  padding-left: 38px;
  padding-bottom: -250px;
}

.color {
  background-image: linear-gradient(
    90deg,
    rgba(83, 53, 133, 1) 0%,
    rgba(58, 121, 169, 1) 48%,
    rgba(32, 189, 210, 1) 100%
  );
  padding-bottom: 10px;
  padding-top: 10px;
}
.div_card {
  background-image: linear-gradient(
    90deg,
    rgba(83, 53, 133, 0.7) 0%,
    rgba(58, 121, 169, 0.7) 48%,
    rgba(32, 189, 210, 0.7) 100%
  );
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.color_text {
  color: indigo;
  text-align: center;
}
.color_btn {
  background-color: indigo;
  text-align: center;
  height: 48px;
  width: 100%;
}
.color_input {
  background-color: white;
  text-align: left;
  height: 48px;
  width: 100%;
  padding-left: 7px;
}
.myhide {
  display: block;
}

.myDIV:hover + .myhide {
  display: none;
}

.m-t100 {
  margin-top: 100px;
}

.m-t50 {
  margin-top: 50px;
}

.p-b50 {
  padding-bottom: 50px;
}

.m-l30 {
  margin-left: 30px;
}

.m-t30- {
  margin-top: -30px;
}

.m-r69 {
  margin-right: 69px;
}

.p-r146 {
  padding-right: 146px;
  border-radius: 50%;
}
.rad_btn {
  height: 70px;
  width: 70px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.rad_btn2 {
  height: 100px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.p-t0 {
  padding-right: 0px;
  padding-left: 0px;
}
/*--------------------------------------------footer*/
</style>
